<h1>Listing meal_records</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Size</th>
      <th>Carbs estimate</th>
      <th>Photo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meal_records.each do |meal_record| %>
      <tr>
        <td><%= meal_record.title %></td>
        <td><%= meal_record.size %></td>
        <td><%= meal_record.carbs_estimate %></td>
        <td><%= image_tag meal_record.photo.url(:thumbnail) %></td>
        <td><%= link_to 'Show', meal_record %></td>
        <td><%= link_to 'Edit', edit_meal_record_path(meal_record) %></td>
        <td><%= link_to 'Destroy', meal_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal record', new_meal_record_path %>
