
<h1>Dish detail view</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong><br>
  <%= @meal_record.title %>
</p>

<p>
  <strong>Size:</strong><br>
  <%= MealRecord::SIZES[@meal_record.size - 1] %>
</p>

<p>
  <strong>User:</strong><br>
  <%= link_to(@meal_record.user.username, user_url(@meal_record.user)) if @meal_record.user %>
</p>

<p>
  <strong>Carbs estimate:</strong><br>
  <%= @meal_record.carbs_estimate_v2 %> g
</p>

<p>
  <strong>Photo:</strong><br>
  <%= image_tag @meal_record.photo.url(:original) %>
</p>

<%= link_to 'Edit', edit_meal_record_path(@meal_record) %> |
<%= link_to 'Back', meal_records_path %>
