

<% @meals.each_with_index do |meal, index| %>


  <div class="section-title">
    <% if meal.created_at.to_date == Date.today %>
      Today
    <% elsif meal.created_at.to_date == Date.yesterday %>
      Yesterday
    <% else %>
      <%= meal.created_at.strftime("%A, %d %h %Y") %>
    <% end %>
    at
    <%= (meal.created_at + 2.hours).strftime("%l:%M %P") %>
  </div>

  <div class="meal-records clearfix">

    <div class="circle
          circle-color-<%= (meal.carbs_estimate_grams..meal.carbs_estimate_grams).compare_to(@user.daily_carbs_need_per_meal_range) %>"
          style="position: absolute; top: 70px; right:5px;"
          data-value="<%= meal.carbs_estimate_grams %>"
          data-progress="<%= meal.carbs_estimate_grams.to_f / @user.daily_carbs_need.to_f %>">
    </div>

    <% meal.meal_records.sort{|a, b| b.size <=> a.size}.each do |meal_record| %>
      <div class="meal-container meal-size-<%= meal_record.size %>">
        <div class="meal meal-carb-<%= meal_record.carbs_estimate %>">
          <a href="#<%= meal_record.id %>">
            <%= image_tag(meal_record.photo.url(:medium)) %>
          </a>
        </div>
      </div>
    <% end %>
  </div>

<% end %>

<style media="screen">
  /*html,body{
    background: #EFF2E6;
  }*/

  .container{
    padding: 0;
  }

  *{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }
</style>

<!--
<script charset="utf-8" src="/js/hammer.2.0.4.js"></script>
<script charset="utf-8" src="/js/wptr.1.1.js"></script>

<script>

  var exampleLoadingFunction = function() {
    return new Promise( function( resolve, reject ) {
      // Run some async loading code here

      if ( true ) {
        window.location.reload();
        resolve();
      } else {
        reject();
      }
    } );
  };

  window.onload = function() {
    WebPullToRefresh.init( {
      loadingFunction: exampleLoadingFunction
    } );
  };
</script> -->


<% if @meal_records.any? %>
  <style media="screen">
    body{
      background: url("<%= @meal_records.first.photo.url(:blurred_background) %>");
      background-position: top center;
      background-attachment: fixed;
    }

    .container{
      background: transparent;
    }
  </style>
<% end %>

<script type="text/javascript">
  var updateView = function(){
    var mealsContainers = $(".meal-records");
    var viewWidth = mealsContainers.width();
    var ringReservedSpace = viewWidth * 0.35;
    var availableWidth = viewWidth - ringReservedSpace;
    var availableHeight = mealsContainers.height();

    $.each(mealsContainers, function(){
      var mealContainer = $(this)
      var mealRecordContainers = mealContainer.find(".meal-container");
      var spaceBetweenMealRecords = (availableWidth / mealRecordContainers.length);

      var offsetLeft = Math.floor(mealContainer.css("paddingLeft").replace("px", ""))
      var offsetTop = Math.floor(mealContainer.css("paddingTop").replace("px", ""))

      var optimalLeft = offsetLeft
      $.each(mealRecordContainers, function(index){
        var mealRecord = $(this);

        var left = spaceBetweenMealRecords * index + offsetLeft
        var top = availableHeight / 2 - mealRecord.height() / 2 + offsetTop

        if(left > optimalLeft){
          left = optimalLeft
        }

        mealRecord.css("left", (left)+"px");
        mealRecord.css("top", (top)+"px")

        optimalLeft += mealRecord.width() * 0.8
      });
    });
  }

  updateView()
</script>

<script type="text/javascript">
  $.circleProgress.defaults.size = 65;

  $.each($('.circle'), function(){
    var circle = $(this);
    var color = "#FF0000";

    if(circle.hasClass("circle-color--1")) // Below
      color = "#DA967C";
    if(circle.hasClass("circle-color-0")) // Within
      color = "#378C84";
    if(circle.hasClass("circle-color-1")) // Above
      color = "#004040";

    circle.circleProgress({
        value: $(this).data("progress") || 0,
        lineCap: "round",
        startAngle: -Math.PI/2,
        fill: {
            color: color
        }
    });
  });
</script>
