
<%
  # MOVE THIS INTO A HELPER

  sentence = nil
  now = Time.now
  now = now + 2.hours if Rails.env.production?

  if now.hour >= 11 && now.hour <= 15
    # This should be breakfast or snack
    first_meal = @meals.first # This is the last meal uploaded # Sorry stephanie

    # If this was uploaded today
    if first_meal.created_at.to_date == Date.today
      # Check the carbs_estimate and voila
      case first_meal.carbs_estimate.compare_to(30..50) # Is in range
      when 1
        sentence = "After this breakfast, take it easy for lunch, hm?"
      when 0
        sentence = "You started your day within the carb range.<br><br>Wonderful!"
      when -1
        sentence = "This is what I call a good start into the day. Keep it up, lovely."
      end
    end
  end

  if now.hour >= 15 && now.hour <= 22
    # This should be breakfast or snack
    first_meal = @meals.first # This is the last meal uploaded # Sorry stephanie

    # If this was uploaded today
    if first_meal.created_at.to_date == Date.today
      # Check the carbs_estimate and voila
      case first_meal.carbs_estimate.compare_to(30..50) # Is in range
      when 1
        sentence = "Your day has been pretty heavy so far, dude.<br><br>How about a salad tonight?"
      when 0
        sentence = "Your day looks good so far.<br><br>All within range. Well done!"
      when -1
        sentence = "Wow, you are below the range still.<br><br>Try to get some high quality carbs tonight and enjoy them!"
      end
    end

  end

  if now.hour >= 22
    sentence = "Tomorrow is another beautiful day!"
  end
 %>


<% @meals.each_with_index do |meal, index| %>


  <div class="section-title">
    <% if meal.carbs_estimate_grams > 0 %>
      <%= meal.carbs_estimate_grams %> g of carbs
    <% else %>
      &nbsp;
    <% end %>
    <span style="float: right;">
      <% if meal.created_at.to_date == Date.today %>
        Today
      <% elsif meal.created_at.to_date == Date.yesterday %>
        Yesterday
      <% else %>
        <%= meal.created_at.strftime("%A, %d %h %Y") %>
      <% end %>
      -
      <%= (meal.created_at + 2.hours).strftime("%l:%M %P") %>
    </span>
  </div>

  <div class="meal-records clearfix meal-records-carb-<%= (meal.carbs_estimate.compare_to(30..50) + 2) %>" title="<%= meal.carbs_estimate %>">
    <% meal.meal_records.sort{|a, b| b.size <=> a.size}.each do |meal_record| %>
      <div class="meal-container meal-size-<%= meal_record.size %>">
        <div class="meal meal-carb-<%= meal_record.carbs_estimate %>">
          <a href="#<%= meal_record.id %>">
            <%= image_tag(meal_record.photo.url(:medium)) %>
          </a>
        </div>
      </div>
    <% end %>
  </div>

  <% if index == 0 && sentence %>

    <div class="section-title">
      Mr. Cinnamon
      <span style="float: right;">Smart alert</span>
    </div>

    <div class="meal-records clearfix" title="<%= meal.carbs_estimate %>" style="background: #FCFDF8;">
      <p class="lead" style="font-size: 15px; padding: 0px 20px;">
        <img src="/lightbulb.png" height="35" />&nbsp;&nbsp;<b>Smart alert</b>

        <br><br>
        <%= sentence.html_safe %>

        <br><br>
      </p>
    </div>

  <% end %>

<% end %>

<style media="screen">
  html,body{
    background: #EFF2E6;
  }

  .container{
    padding: 0;
    background: white;
  }
</style>

<!--
<script charset="utf-8" src="/js/hammer.2.0.4.js"></script>
<script charset="utf-8" src="/js/wptr.1.1.js"></script>

<script>

  var exampleLoadingFunction = function() {
    return new Promise( function( resolve, reject ) {
      // Run some async loading code here

      if ( true ) {
        window.location.reload();
        resolve();
      } else {
        reject();
      }
    } );
  };

  window.onload = function() {
    WebPullToRefresh.init( {
      loadingFunction: exampleLoadingFunction
    } );
  };
</script> -->
