<% @week_days.each do |week_day| %>

  <% if week_day.date == Date.today %>
    <div class="section-title">
      This week
    </div>
  <% elsif (Date.today - week_day.date).to_i % 7 == 0 %>
    <div class="section-title">
      <%= week_day.date.strftime("%A, %d %h %Y") %> - <%= (week_day.date - 7.days).strftime("%A, %d %h %Y") %>
    </div>
  <% end %>

  <% if (Date.today - week_day.date).to_i % 7 == 0 %>
    <div class="days" onmousedown="window.location.hash = 'dayView'">
  <% end %>

  <div class="row atleast-100 clearfix day-row">
   <% week_day.time_frames.each_with_index do |time_frame, index| %>

      <% width = 1
        width = 3 if index == 0 || index == 2 # Breakfast and lunch
        width = 4 if index == 4 # Dinner %>

      <div class="col-xs-<%= width %> no-padding">
       <% time_frame.meal_records.sort{|a, b| b.size <=> a.size}.each do |meal_record| %>
         <%#= image_tag meal_record.photo.url(:thumbnail), width: 20 %>
         <div class="oval oval-color-<%= meal_record.carbs_estimate %> oval-size-<%= meal_record.size %>"></div>
       <% end %>
       &nbsp;
      </div>
   <% end %>

   <% if (Date.today - week_day.date).to_i % 7 == 6 %>
     </div>
   <% end %>

 </div>
<% end %>

<style media="screen">
  tr:nth-child(even){
    background: lightgray;
  }
  td:nth-child(even){
    background: whitesmoke;
  }

  .section-title{
    margin-left: -15px;
    margin-right: -15px;
    padding: 5px;
    border-bottom: 1px solid #eee;
  }

  *{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }
</style>
